html, body {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased; }

table {
  border-collapse: collapse;
  width: 100%; }

input:focus {
  outline: none; }

img, table {
  border: none; }

a {
  color: #f9f2e1;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a:hover, a:active, a:focus {
    text-decoration: underline;
    outline: 0; }

button {
  outline: none;
  cursor: pointer; }

svg:not(:root) {
  overflow: hidden; }

header, footer, article, section, hgroup, nav, menu, aside, figure, main, video, address, picture, figcaption {
  display: block; }

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: normal; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 50px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

ul, ol {
  list-style: none; }

p {
  margin: 10px 0; }

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

body {
  background: #c92324;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  color: #f7e9da; }

.icon {
  display: inline-block;
  position: relative; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.header {
  background: url(../img/header-bg.jpg) no-repeat;
  height: 843px; }
  .header__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header__left-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .header__right-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding: 25px 23px 0 0; }

a.logo {
  background: url("../img/logo.png") no-repeat;
  width: 104px;
  height: 107px;
  text-decoration: none;
  text-indent: -9000px;
  overflow: hidden;
  margin: 24px 0 0 34px; }

.nav {
  padding: 38px 0 0 37px; }

.navList__item {
  display: inline-block;
  vertical-align: top;
  padding: 0 23px; }

.navList__item--hasChildren a:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #af0105;
  position: absolute;
  top: 10px;
  right: -21px;
  z-index: 1; }

.navList__item--hasChildren a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #faf1e1;
  position: absolute;
  top: 9px;
  right: -21px;
  z-index: 2; }

.navList__link {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
  color: #faf1e1;
  text-shadow: 0 0 2px #af0105;
  text-transform: uppercase;
  font-weight: 600;
  position: relative; }

.searchForm {
  position: relative; }
  .searchForm__text {
    background: rgba(167, 32, 32, 0.5);
    border: 0;
    width: 280px;
    padding: 0 0 0 49px;
    line-height: 50px;
    -webkit-border-radius: 22px;
            border-radius: 22px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 16px;
    color: #faf1e1;
    text-shadow: 0 0 2px #af0105;
    text-transform: uppercase;
    font-weight: 600; }
    .searchForm__text::-webkit-input-placeholder {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 16px;
      color: #faf1e1;
      text-shadow: 0 0 2px #af0105;
      text-transform: uppercase;
      font-weight: 600; }
    .searchForm__text::-moz-placeholder {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 16px;
      color: #faf1e1;
      text-shadow: 0 0 2px #af0105;
      text-transform: uppercase;
      font-weight: 600; }
    .searchForm__text:-ms-input-placeholder {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 16px;
      color: #faf1e1;
      text-shadow: 0 0 2px #af0105;
      text-transform: uppercase;
      font-weight: 600; }
    .searchForm__text::-ms-input-placeholder {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 16px;
      color: #faf1e1;
      text-shadow: 0 0 2px #af0105;
      text-transform: uppercase;
      font-weight: 600; }
    .searchForm__text::placeholder {
      font-family: 'PT Sans Narrow', sans-serif;
      font-size: 16px;
      color: #faf1e1;
      text-shadow: 0 0 2px #af0105;
      text-transform: uppercase;
      font-weight: 600; }
    .searchForm__text:focus {
      width: 380px; }
  .searchForm__btn {
    background: url("../img/search-bg.png") no-repeat;
    width: 23px;
    height: 23px;
    position: absolute;
    left: 13px;
    top: 13px;
    border: 0; }

.userInfo {
  float: left;
  margin: 0 0 0 18px; }

.cart {
  float: left;
  margin: 0 0 0 18px; }

.owl-carousel--headSlider .owl-nav div {
  text-indent: -9000px;
  width: 62px;
  height: 237px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.owl-carousel--headSlider div.owl-prev {
  left: 0;
  background: url("../img/left-arr.png") no-repeat; }

.owl-carousel--headSlider div.owl-next {
  right: 0;
  background: url("../img/right-arr.png") no-repeat; }

.slider__item {
  position: relative;
  margin: 0 150px 0 174px; }
  .slider__item figure img {
    width: auto !important;
    margin: 0 auto; }

.slider__link {
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../img/btn-bg.png") no-repeat;
  width: 186px;
  height: 82px;
  line-height: 82px;
  text-decoration: none;
  text-align: center;
  color: #bc0027;
  text-shadow: 0 0 2px #ffd93a;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 20px; }

.main {
  background: #f7f4f0;
  padding: 58px 0 0 0; }

.products {
  padding: 0 0 74px 0; }
  .products__title {
    position: relative;
    color: #383431;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 56px;
    text-align: center;
    letter-spacing: 2px;
    margin: 5px 0 58px 0; }
    .products__title span {
      position: relative;
      z-index: 2;
      text-shadow: 2px 2px 1px #fff; }
    .products__title:before {
      letter-spacing: 2px;
      content: 'New Products';
      color: #e6c8a7;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 56px;
      position: absolute;
      top: 4px;
      left: 50%;
      -webkit-transform: translateX(-webkit-calc(-50% + 4px));
          -ms-transform: translateX(calc(-50% + 4px));
              transform: translateX(calc(-50% + 4px));
      z-index: 1; }
  .products__subtitle {
    text-align: center;
    color: #c40d0e;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0 0 2px #fff;
    margin: 0; }

.carusel {
  padding: 0 168px; }

.inner {
  background-image: url(../img/inner-bg-1.jpg), url(../img/inner-bg-2.jpg), url(../img/inner-bg-3.jpg);
  background-position: center top, center bottom, center top;
  background-repeat: no-repeat, no-repeat, repeat-y;
  padding: 10px 10px 26px 10px; }
  .inner__title {
    text-align: center; }
    .inner__title a {
      color: #8a745c;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase; }
      .inner__title a:hover {
        text-decoration: none; }

.box {
  background: url("../img/box-bg.jpg") no-repeat;
  min-height: 237px;
  padding: 6px 4px 4px 1px; }
  .box figure {
    height: 237px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .box figure img {
      width: auto !important;
      margin: 0 auto; }

.rating {
  padding: 11px 0 0 0;
  text-align: center; }
  .rating__item {
    display: inline-block;
    vertical-align: top; }

.price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 12px; }
  .price__summa {
    color: #c40d0e;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0 0 2px #fff;
    font-size: 20px; }
  .price__dots span {
    display: inline-block;
    background: #e8ccac;
    width: 4px;
    height: 4px;
    -webkit-border-radius: 50%;
            border-radius: 50%; }

.owl-carousel--productSlider .owl-nav div {
  text-indent: -9000px;
  width: 62px;
  height: 237px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.owl-carousel--productSlider div.owl-prev {
  left: -168px;
  background: url("../img/left-arrow.png") no-repeat; }

.owl-carousel--productSlider div.owl-next {
  right: -168px;
  background: url("../img/right-arrow.png") no-repeat; }
